# OpenAi API Key 입력란
OPENAI_API_KEY=sk-5K9kI4dia...

# Google API Key 입력란
GOOGLE_API_KEY=AIzaSyCSttRIEqEf1_X...
GRPC_VERBOSITY=NONE

# Anthropic API Key 입력란
ANTHROPIC_API_KEY=sk-ant-api0...

# LangSmith API Key 입력란
LANGSMITH_PROJECT=LANGCHAIN_PROJECT
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=lsv2_...

# Upstage API Key 입력란
UPSTAGE_API_KEY=up_...
